@font-face {
  font-family: 'Open Sans Regular';
  src: url('../assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Neucha Regular';
  src: url('../assets/fonts/Neucha-Regular.ttf');
}

:root {
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --normal-dark: #2a2626;
  --secondary: #908d8b;
  --normal-brown: #42413c;
  --transparent-white: #d7ccc0;
  --normal-white: #fff;
  --normal-light: #f5f4f0;
  --normal-blue: #1085c5;
  --bg-dark: #b09a81;
}

body {
  margin: 0;

  color: var(--normal-dark);

  font-family: "Open Sans Regular", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  font-family: "Neucha Regular", sans-serif;

  line-height: 1.2em;
}

h1 {
  margin: 0;

  font-size: 75px;
}

h2 {
  margin: 0;

  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h4 {
  margin: 5px 10px;

  color: var(--normal-white);

  font-size: 14px;
  font-family: "Open Sans Regular", sans-serif;
}

section {
  display: flex;
  justify-content: center;
  max-width: 1110px;
}

.section {
  position: relative;
  display: flex;

  height: 100%;

  width: 100%;
  justify-content: center;
  flex-direction: column;
  background-color: var(--normal-light);
  overflow: hidden;
}

.section::before {
  content: "";
  background-image: url('../assets/images/background.png');
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.1;
}

.title {
  position: absolute;
  top: 100px;
  left: 155px;
}

.top-banner-image {
  /* height: 525px; */
  position: relative;
  width: 75%;
  right: -465px;
  top: 55px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--normal-brown);

  padding-top: 120px;
  padding-right: 150px;
  padding-left: 150px;
  padding-bottom: 100px;

}

.flex-container > div {
  display: flex;
  width: 300px;
  background-color: var(--normal-light);
  margin: 10px 14px;
  padding: 24px;
  cursor: pointer;
}

.paragraph-title {
  color: var(--primary);

  font-size: 52px;
  font-family: "Neucha Regular", sans-serif;
}

.flex-container > .paragraph-title {
  color: var(--normal-white);

  width: 350px;

  font-size: 60px;
  font-family: "Neucha Regular", sans-serif;

  background-color: var(--normal-brown);
  padding: 0;
  margin-top: 12px;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--normal-white);
  font-weight: 600;
  padding: 20px 20px;
  cursor: pointer;
  border: none;
  font-variant: small-caps;
}

.btn-container {
  margin-top: 40px;
  margin-bottom: 80px;

  cursor: pointer;
}

.text-primary {
  color: var(--primary);
}

.number {
  margin-bottom: 40px;

  font-size: 64px;
  font-family: "Neucha Regular", sans-serif;

  line-height: 1;
}

.flex-columns-container {
  display: flex;
  flex-direction: column;
}

.flex-columns-container:hover:not(:first-child),
.flex-columns-container:hover > .paragraph-title {
  color: var(--normal-white);

  background-color: var(--primary);
}

.flex-column-aligned-center {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.secondary-title {
  color: var(--secondary);

  font-weight: 400;
  font-size: 24px;
  font-family: "Neucha Regular", sans-serif;
  line-height: 28.8px;
}

.section-definition {
  font-weight: 400;
  font-size: 34px;
  font-family: "Neucha Regular", sans-serif;
  line-height: 40.8px;
}

.section-second-title {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 20px;
  padding-top: 0px;
  padding-bottom: 0px;

  background-color: var(--bg-dark);
}

.image-container {
  z-index: 1;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.image-alignment {
  vertical-align: middle;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 100px 165px;
}

.content-container {
  display: flex;
  justify-content: center;
}
