@font-face {
  font-family: 'Open Sans Regular';
  src: url('../assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Neucha Regular';
  src: url('../assets/fonts/Neucha-Regular.ttf');
}

:root {
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --normal-dark: #2a2626;
  --secondary: #908d8b;
  --normal-brown: #42413c;
  --transparent-white: #d7ccc0;
  --normal-white: #fff;
  --normal-light: #f5f4f0;
  --normal-blue: #1085c5;
  --bg-dark: #b09a81;
}

body {
  margin: 0;

  color: var(--normal-dark);

  font-family: "Open Sans Regular", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  font-family: "Neucha Regular", sans-serif;

  line-height: 1.2em;
}

h1 {
  margin: 0;

  font-size: 75px;
}

h2 {
  margin: 0;

  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h4 {
  margin: 5px 10px;

  color: inherit;

  font-size: 14px;
  font-family: "Open Sans Regular", sans-serif;
}

section {
  display: flex;
  justify-content: center;
  max-width: 1110px;
}

.header-description {
  display: flex;
  justify-content: center;

  max-width: 1110px;
  margin: 15px 150px;
}

.section {
  position: relative;

  display: flex;

  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;

  background-color: var(--normal-light);
}

.section::before,
.section-dark::before {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: url('../assets/images/background.png');
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.section-dark {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100%;
  overflow: hidden;

  color: var(--normal-white);

  background-color: var(--bg-dark);
}

.title {
  position: absolute;
  top: 100px;
  left: 155px;
}

.top-banner-image {
  /* height: 525px; */
  position: relative;
  top: 55px;
  right: -465px;

  width: 75%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding-top: 200px;
  padding-right: 150px;
  padding-bottom: 100px;
  padding-left: 150px;

  background-color: var(--normal-brown);
}

.flex-container > div {
  display: flex;
  width: 300px;
  margin: 10px 14px;
  padding: 24px;

  background-color: var(--normal-light);
  cursor: pointer;
}

.paragraph-title {
  color: var(--primary);

  font-size: 34px;
  font-family: "Neucha Regular", sans-serif;
  line-height: 40.8px;
}

.flex-container > .paragraph-title {
  width: 350px;
  margin-top: 12px;
  padding: 0;

  color: var(--normal-white);

  font-size: 52px;
  font-family: "Neucha Regular", sans-serif;
  line-height: 62.4px;

  background-color: var(--normal-brown);
}

.btn-primary {
  padding: 20px 20px;
  border: none;

  color: var(--normal-white);
  font-weight: 600;
  font-variant: small-caps;

  background-color: var(--primary);
  cursor: pointer;
}

.btn-container {
  margin-top: 40px;
  margin-bottom: 80px;

  cursor: pointer;
}

.video-section-title {
  margin-top: 65px;
  margin-bottom: 23px;

  text-align: center;
}

.video {
  margin-bottom: -95px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.video-section-background {
  height: 110px;

  background-color: #42413c;
}

.text-primary {
  color: var(--primary);
}

.number {
  margin-bottom: 40px;

  font-size: 64px;
  font-family: "Neucha Regular", sans-serif;

  line-height: 1;
}

.flex-columns-container {
  display: flex;
  flex-direction: column;
}

.flex-columns-container:hover:not(:first-child),
.flex-columns-container:hover > .paragraph-title {
  color: var(--normal-white);

  background-color: var(--primary);
}

.flex-column-aligned-center {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.secondary-title {
  color: var(--secondary);

  font-weight: 400;
  font-size: 24px;
  font-family: "Neucha Regular", sans-serif;
  line-height: 28.8px;
}

.secondary-title-dark {
  color: var(--transparent-white);

  font-weight: 400;
  font-size: 24px;
  font-family: "Neucha Regular", sans-serif;
  line-height: 28.8px;
}

.section-definition {
  font-weight: 400;
  font-size: 34px;
  font-family: "Neucha Regular", sans-serif;
  line-height: 40.8px;
}

.section-second-title {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;

  color: var(--normal-white);

  background-color: var(--bg-dark);
}

.section-second-title-dark {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;

  color: var(--bg-dark);

  background-color: var(--normal-light);
}

.image-container {
  z-index: 1;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.image-alignment {
  vertical-align: middle;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 100px 165px;
}

.content-container {
  display: flex;
  justify-content: center;
}

.description-paragraph-right {
  width: 50%;
  margin-left: 20px;
}

.description-paragraph-left {
  width: 50%;
  margin-right: 20px;
}

.terms-and-agreement-section {
  margin-top: 5px;

  font-size: 12px;
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 50px;

  border: none;

  background-color: orange;
}

.subscription-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 55px;

  color: white;

  background-color: #42413c;
}

input {
  width: 420px;
  height: 50px;
  padding: 0;
  border: none;
}
